

        <div id="info">
           <h1>Hoy ya es mañana</h1>
           <h2>Las Buenas Noches</h2>
         </div>

        <div class="center">
            <div id="lbn3-titulo">
                <img src="images/lbn-hoyesmanana.png" alt="Hoy ya es mañana, por Las Buenas Noches" />
            </div>
        </div>

        <div class="center">
            <div class="row">
            <div id="lbn3-portada">
              <a href="#disco-mañana">
                <img src="images/portada-sin-titulo.680.jpg" alt="Portada de Hoy ya es Mañana" />
              </a>
            </div>
            <div id="lbn3-player">
                <!-- bandcamp album 884923430 -->
                <iframe style="border: 0; width: 100%; height: 490px;" src="http://bandcamp.com/EmbeddedPlayer/album=884923430/size=large/bgcol=ffffff/linkcol=63b2cc/artwork=none/transparent=true/" seamless><a href="https://lasbuenasnoches.bandcamp.com/album/hoy-ya-es-ma-ana">Hoy ya es mañana por Las Buenas Noches</a></iframe>
            </div>
            </div>
        </div>



<%= partial 'conciertos' %>
<%= partial 'escucha_y_descarga' %>
<%= partial 'videos' %>
<%= partial 'venta' %>
<%= partial 'footer' %>

       
